<div class="page-header">
  <h2>Ping Service</h2>
</div>
<div class="description">
  Create task to ping your service!
</div>
<ngb-tabset>
  <ngb-tab title="My Tasks">
    <ng-template ngbTabContent>

      <div class="row">
        <div class="col-sm-3" style="margin-top: 20px;" *ngFor="let task of tasks">
          <task-card [task]=task></task-card>
        </div>
      </div>

    </ng-template>
  </ngb-tab>


  <ngb-tab title="Schedule">
    <ng-template ngbTabContent>

      <form style="margin-top: 5px;">
        <div class="form-row align-items-center">
          <div class="col">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="task.name" class="form-control"
                   id="name" name="name" placeholder="Name">
          </div>
          <div class="col">
            <label for="url">URL</label>
            <input type="text" [(ngModel)]="task.url" class="form-control"
                   id="url" name="url" placeholder="URL">
          </div>
          <div class="col">
            <label for="method">Method</label>
            <select [(ngModel)]="task.method" id="method" name="method" class="form-control">
              <option selected>GET</option>
              <option>POST</option>
            </select>
          </div>
          <div class="col">
            <label for="cron">CRON</label>
            <input type="text" [(ngModel)]="task.cron" class="form-control"
                   id="cron" name="cron" placeholder="*/15 * * * * *">
          </div>
          <div class="col">
            <a (click)="addTask()" class="btn btn-primary" style="margin-top: 32px" role="button">Submit</a>
          </div>
        </div>
      </form>


    </ng-template>
  </ngb-tab>

</ngb-tabset>
