<form *ngIf="task">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h2>{{task.name}}</h2>
  </div>

  <div class="form-group row">
    <label for="name" class="col-sm-1 col-form-label"><strong>Name</strong></label>
    <div class="col-sm-11">
      <input type="text" readonly class="form-control-plaintext" id="name" value="{{task.name}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="method" class="col-sm-1 col-form-label"><strong>Method</strong></label>
    <div class="col-sm-11">
      <input type="text" readonly class="form-control-plaintext" id="method" value="{{task.method}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="url" class="col-sm-1 col-form-label"><strong>URL</strong></label>
    <div class="col-sm-11">
      <input type="text" readonly class="form-control-plaintext" id="url" value="{{task.url}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="cron" class="col-sm-1 col-form-label"><strong>CRON</strong></label>
    <div class="col-sm-11">
      <input type="text" readonly class="form-control-plaintext" id="cron" value="{{task.cron}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="isActive" class="col-sm-1 col-form-label"><strong>Is Active</strong></label>
    <div class="col-sm-11">
      <input type="text" readonly class="form-control-plaintext" id="isActive" value="{{task.isActive}}">
    </div>
  </div>
</form>
